{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <div class="container my-5">
        <!-- Section: Account Header -->
        <h2>Espace membre</h2>
        
        <div class="row">
            <!-- Section: Sidebar -->
            <div class="col-md-3">
                {% include 'account/sidebar.html.twig' %}
            </div>  

            <!-- Section: Account Content -->
            <div class="col-md-9">
                <h1>Bienvenue, {{ app.user.username }}</h1>
                <p>Gérez vos informations de compte ici.</p>
                <!-- Ajoutez d'autres sections de gestion de compte ici -->

                {% if app.user.roles == ['ROLE_USER'] %}
                    <p>Vous êtes un utilisateur simple.</p>
                {% elseif app.user.roles == ['ROLE_ADMIN'] %}
                    <p>Vous êtes un administrateur.</p>
                {% endif %}

                <p>Vous pouvez modifier vos informations personnelles.</p>
                <p>Vous pouvez également <a href="{{ path('app_logout') }}">vous déconnecter</a>.</p>

                <a href="{{ path('app_account_modify_pwd') }}" class="btn btn-info">Modifier mon mot de passe</a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}" class="btn btn-info">Administration</a>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
