<!--About Section-->
<div class="container-fluid">
    <div id="about" class="row about-section">

        <div class="row justify-content-center">
            <!-- Section: Personal Information Card -->
            <div class="col-md-12 card mx-2 w-50">
                <div class="card-header text-center">
                    <h2 class="font-weight-light">Informations Personnelles</h2>
                </div>
                <div class="card-body text-center">
                    <ul class="mt-4 info list-unstyled">
                        <li><span>Date de naissance</span> : 15/12/1979 <br>À Verneuil d'Avre et d'Iton <br>France</li>
                        <li><span>Email</span> : richard.bonnegent@gmail.com</li>
                        <li><span>Téléphone</span> : + (33)6.03.16.53.51</li>
                        <li><span>Zoom</span> : Richard Bonnegent </li>
                        <li><span>Adresse</span> :  138 avenue Jean Jaurès <br>95100 Argenteuil</li>
                    </ul>
                    <ul class="social-icons list-inline mb-4 text-center d-flex justify-content-center" aria-label="Réseaux sociaux">
                        <!-- Social Media Links -->
                        <li class="social-item me-3"><a class="social-link text-light" href="https://www.facebook.com/richard.bonnegent" target="_blank"><img src="images/facebook.png" alt="Logo Facebook" title="Suivez-moi sur Facebook"></a></li>
                        <li class="social-item me-3"><a class="social-link text-light" href="https://fr.linkedin.com/in/richard-bonnegent-49a24114b" target="_blank"><img src="images/linkedin.png" alt="Logo Linkedin" title="Suivez-moi sur Linkedin"></a></li>
                        <li class="social-item me-3"><a class="social-link text-light" href="mailto:richard.bonnegent@gmail.com" target="_blank"><img src="images/gmail.png" alt="Logo Gmail" title="Contactez-moi par mail"></a></li>
                        <li class="social-item me-3"><a class="social-link text-light" href="https://www.instagram.com/richardbonnegent?igsh=MWZlbm93bWxnbndxYw==" target="_blank"><img src="images/instagram.png" alt="Logo Instagram" title="Suivez-moi sur Instagram"></a></li>
                        <li class="social-item me-3"><a class="social-link text-light" href="https://github.com/Riakhos/TP.git" target="_blank"><img src="images/github.png" alt="Logo Github" title="Suivez-moi sur Github"></a></li>            
                    </ul>  
                </div>
            </div>            
        </div>

        <div class="row justify-content-center">

            <!-- Section: About Card -->
            <div class="col-md-5 card m-4">
                <div class="card-header text-center">
                    <h2 class="font-weight-light">Qui suis-je ?</h2>
                    <h3 class="mb-3">Web Designer | Developer Full Stack</h3>
                </div>
                <div class="card-body">
                    <p>Je suis Richard Bonnegent, un Web Designer et Developer Full Stack passionné par la création de solutions web innovantes et efficaces. Avec plusieurs années d'expérience dans le domaine, j'ai acquis une expertise solide en développement front-end et back-end.</p>
                    <p>Mon objectif est de fournir des services de haute qualité qui répondent aux besoins spécifiques de mes clients, tout en respectant les meilleures pratiques en matière de développement web et de design.</p>
                    <p class="mt-20">Après plusieurs années dans la restauration, j’ai pris la décision de mettre à profits mes connaissances pour pratiquer ma passion de l’informatique et ainsi m’offrir de nouveaux objectifs de carrière dans un domaine plus florissant.<br>Je suis un développeur junior, passionné d’informatique, je suis depuis deux ans des cours à distance grâce auxquels j'ai consolidé mes connaissances et ma maîtrise de langage informatique.<br>En effet apprendre de nouveaux langages et résoudre des problèmes, ainsi que parfaire mes connaissances en informatique m'apporte beaucoup de satisfaction.<br>Je cherche actuellement un stage de 2 à 6 mois(à partir de Janvier 2025) pour valider mes acquis, apprendre de nouvelles technologies et connaître un véritable environnement de travail.</p>
                    <!-- bouton doit lancer le téléchargement du CV -->
                    <div class="mt-3 text-center">
                        <a id="btn_download_cv" class="btn btn-info" href="images/cv_richardbonnegent.pdf" download="CV-Richard-Bonnegent.pdf">Télécharger mon CV</a>
                    </div>
                </div>
            </div>

            <!-- Section: Experience Card -->
            <div class="col-md-5 card m-4">
                <div class="card-header text-center">
                    <h2 class="font-weight-light">Mon Expérience</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-1 text-danger pt-1"><i class="ti-widget icon-lg"></i></div>
                        <div class="col-10 ml-auto mr-3">
                            <h6>Développeur Web Designer</h6>
                            <p class="subtitle"> UX/UI Designer (Arborescence, User Flow, Zoning, Wireframe). <br> Utilisation de Figma pour effectuer le Prototypage. <br> Méthode Agile. <br>Responsive Web Design.</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 text-danger pt-1"><i class="ti-paint-bucket icon-lg"></i></div>
                        <div class="col-10 ml-auto mr-3">
                            <h6>Développeur Front-End</h6>
                            <p class="subtitle">Utilisation de Github.<br>Création de HTML et manipulation de CSS avec Bootstrap.<br>Utilisation de JS et NodeJS.<br>Création d'interface utilisateur et Web native avec React.</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 text-danger pt-1"><i class="ti-stats-up icon-lg"></i></div>
                        <div class="col-10 ml-auto mr-3">
                            <h6>Développeur Back-End</h6>
                            <p class="subtitle">Manipulation de base de données avec PHP.<br>Création de base de données avec Mysql et MongoDB. <br>Utilisation de la méthode Merise.<br>Création de projet avec Symfony.</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>