{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <!-- Section: Register Card -->
            <div class="card">
                <div class="card-header text-center">
                    <h2>Inscription</h2>
                </div>
                <div class="card-body">
                    {{ form(registerForm) }}

                    <div class="login mt-3 text-center">
                        Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section: Google Sign-In -->
        <div class="mt-3 text-center">
            <button id="google-signup-with-btn" class="btn btn-info">
                <i class="fab fa-google"></i> S'inscrire avec Google
            </button>
        </div>

    </div>
{% endblock %}

{# Inclusion du script Google Sign-In #}
{% block javascripts %}
    <script src="https://accounts.google.com/gsi/client?hl=fr" async defer></script>
    <script>
        function handleCredentialResponse(response) {
            console.log("Encoded JWT ID token: " + response.credential);
            // Envoyez le jeton au serveur pour vérification et connexion
        }
        window.onload = function () {
            google.accounts.id.initialize({
                client_id: "{{ google_client_id }}",
                callback: handleCredentialResponse
            });
            google.accounts.id.renderButton(
                document.getElementById("google-signup-with-btn"),
                { 
                    locale: "fr",
                    theme: "outline",
                    size: "large",
                    type: "standard",
                    text: "signup_with",
                    shape: "pill"
                }
            );
        };
    </script>
{% endblock %}