{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <div class="small-block">
            <h2>Nouveau mot de passe</h2>

            {{ form(resetPasswordForm) }}

        </div>
        
    </div>

{% endblock %}